@model GestorPetshop.Models.Cliente
@using System.Globalization;
<style>
    .row-main-anchor {
        color: #0d6efd !important;
    }
</style>
<div class="container">
    <span class="text-center">
        <h2>Listado de clientes</h2>
    </span>
    @(Html.Kendo().Grid<GestorPetshop.Models.Cliente>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Id).Visible(false);
        columns.Bound(cliente => cliente.Nombre).Title("Nombre").Width(320).ClientTemplate("<span id=\"cliente-#:data.Nombre#\"></span><a class=\"row-main-anchor\" href='/Cliente/Ficha?clienteId=#:data.Id#'>#:data.Id == null? 'Sin id' : data.Nombre#</a>").Visible(true);
        columns.Bound(cliente => cliente.Apellido).Title("Apellido").Width(150).Visible(true);
        columns.Bound(cliente => cliente.Direccion).Title("Direccion").Width(150).MinScreenWidth(800).Visible(true);
        columns.Bound(cliente => cliente.Email).EditorTemplateName("Email").Width(180).Visible(true);
        columns.Bound(cliente => cliente.CodigoPostal).Width(130).Visible(true);
        columns.Command(command => command.Destroy()).Width(160);
    })
    .ToolBar(toolbar =>
    {
            toolbar.Custom().Text("Crear").HtmlAttributes(new { id = "toolbarCrear", @class = "floatRight" });
    }) 
    .Pageable()
    .Groupable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(20)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.Id);
        })
        .Read(read => read.Action("Clientes_Read", "Cliente"))
        .Create(read => read.Action("Clientes_Create", "Cliente"))
        .Destroy(read => read.Action("Clientes_Delete", "Cliente"))
    )
)
</div>
@section scripts {
    <script>
        $("#Grid").on("click", "#toolbarCrear", function (e) {
            e.preventDefault();  //prevents postback
            window.location.href = "/Cliente/Ficha";
        });
    </script>
}